//
// Normalize is for all elements
//

html, html body {
  height: calc(env(safe-area-inset-top) + env(safe-area-inset-bottom) + 100%);
  width: 100%;
}

body {
  @include display-flex(column);
  font-family: Roboto, "Helvetica Neue", sans-serif;

  -webkit-user-select: none;
  -webkit-touch-callout: none;

  position: relative;

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@import "normalize/form";
