
@import '~@angular/material/theming';

//
// palettes
//
$bike-primary: mat-palette($mat-light-blue);
$bike-accent:  mat-palette($mat-light-green);
$bike-warn: mat-palette($mat-red);

//
// theme
//
$bike-theme:   mat-light-theme($bike-primary, $bike-accent, $bike-warn);

//
// foreground- & background palettes
$background-palette: map-get($bike-theme, background);
$foreground-palette: map-get($bike-theme, foreground);

//
// colors
//
$divider-color: mat-color($foreground-palette, divider);
$primary-color: mat-color($bike-primary, 500);

$active-background-color: mat-color($background-palette, selected-button);
$active-text-color: mat-color($bike-primary, 600);


//
// margin or padding gaps
//
$full-gap: 16px;
$half-gap: $full-gap / 2;
$four-gap: $full-gap / 4;

//
// Border
//
$border: 1px;
$border-radius: $half-gap;
$border-radius-small: $four-gap;
$border-color: $divider-color;
