
@import '~@angular/material/theming';

//
// palettes
//
$dfo-primary: mat-palette($mat-light-blue);
$dfo-accent:  mat-palette($mat-light-green);
$dfo-warn: mat-palette($mat-red);

//
// theme
//
$dfo-theme:   mat-light-theme($dfo-primary, $dfo-accent, $dfo-warn);

//
// foreground- & background palettes
$background-palette: map-get($dfo-theme, background);
$foreground-palette: map-get($dfo-theme, foreground);

//
// colors
//
$divider-color: mat-color($foreground-palette, divider);
$primary-color: mat-color($dfo-primary, 500);

$active-background-color: mat-color($background-palette, selected-button);
$active-text-color: mat-color($dfo-primary, 600);


//
// margin or padding gaps
//
$full-gap: 16px;
$half-gap: $full-gap / 2;
$four-gap: $full-gap / 4;

//
// Border
//
$border: 1px;
$border-radius: $half-gap;
$border-radius-small: $four-gap;
$border-color: $divider-color;
