
@mixin notch-left($padding) {
  padding-left: calc(env(safe-area-inset-left) + #{$padding});
}

@mixin notch-top($padding) {
  padding-top: calc(env(safe-area-inset-top) + #{$padding});
}

@mixin notch-right($padding) {
  padding-right: calc(env(safe-area-inset-right) + #{$padding});
}

@mixin notch-bottom($padding) {
  padding-bottom: calc(env(safe-area-inset-bottom) + #{$padding});
}

//
// Add the notch safe area in the padding (left, right, bottom)
//
@mixin notch-body() {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

