
.form {
  @include display-flex(column);
  padding: $full-gap;

  @include device-large() {
    width: 750px;
    margin: 0 auto;
  }

  .form-field {
    .form-control {
      width: 100%;
    }
  }

  .command-bar {
    @include display-flex(row);
    justify-content: flex-end;
    margin-bottom: $full-gap;

    .button {
      margin-left: $half-gap;
    }
  }

}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}
