<mat-sidenav-container class="view-home">
  <mat-sidenav class="view-sidebar" mode="over" [opened]="sidebarOpen$ | async" (closed)="closeSidebar()" *ngIf="!(largeMode$ | async)">
    <dfo-sidebar-panel kind="popup"></dfo-sidebar-panel>
  </mat-sidenav>
  <mat-sidenav-content class="view-container">
    <dfo-nav-bar
      [errors]="errorCount$ | async"
      title="Don't Forget"
      [largeMode]="largeMode$ | async"
      (navBar)="navBarClicked($event)">
    </dfo-nav-bar>

    <div class="view-content">
      <aside class="view-sidebar" *ngIf="largeMode$ | async">
        <dfo-sidebar-panel kind="aside"></dfo-sidebar-panel>
      </aside>
      <main class="view-main">

      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
